/* ----- basic styles -----*/
.sidebar__item {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 0 15px;
  padding: 15px 30px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.15;
  color: $white;
  border-radius: 3px;
  transition: all 0.3s ease;
  user-select: none;
  @media (min-width: 768px) {
    margin: 0 -12px 0 0;
    padding: 10px 20px;
    font-size: 14px;
  }

  &:not(.sidebar__item--active):hover {
    @media (min-width: 768px) {
      margin: 0 -12px 0 12px;
    }
  }

  cursor: pointer;

  svg {
    display: inline-block;
    margin: 0 12px 0 0;
    width: 22px;
    height: 22px;
    fill: $blue--light;
    object-fit: cover;
  }
}

.sidebar__item--active {
  background: linear-gradient(90deg, #323168 0%, #282d58 100%);
  user-select: none;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translate(calc(-100% - 3px), 0);
    width: 14px;
    background: linear-gradient(90deg, #323168 0%, #282d58 100%);
    border-radius: 3px;

    @media (min-width: 768px) {
      width: 10px;
    }
  }

  svg {
    fill: $grey;
  }
}

/* ----- desktop sidebar -----*/
.desktop-sidebar {
  display: none;
  box-sizing: content-box;
  user-select: none;
  @media (min-width: 768px) {
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    display: block;
    padding: 0 12px 0 0;
    width: 250px;
    height: 100vh;
    background: linear-gradient(
      to right,
      $black 250px,
      $black--light 250px 250.5px,
      #05060f 250.5px 100%
    );
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  .user-profile {
    padding: 0 0 0 35px;
  }
}

.desktop-sidebar__body {
  padding: 30px 0;
}
.sidebar__item--accordion {
  padding: 10px 20px;
  display: block;
  transition: all 0.3s ease;

  &:not(.desktop-sidebar__block--accordion-active):hover {
    @media (min-width: 768px) {
      margin: 0 -12px 0 12px;
    }
  }

  span {
    cursor: pointer;
    font-weight: 500;
  }
}

.desktop-sidebar__block {
  padding: 10px 20px;
  border-bottom: 1px solid $black--light;

  &:last-of-type {
    // border: none;
  }

  .active-filter-wrapper {
    position: absolute;
    z-index: 30;
  }
}

.desktop-sidebar__block--accordion-active {
  padding: 10px 20px;

  .desktop-sidebar__block-title {
    svg {
      transform: translate(-200%, 0) rotate(180deg);
    }
  }

  .desktop-sidebar__block-title--accordion-header {
    margin: 0 0 12px;
  }
}

.desktop-sidebar__block-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.15;
  color: $grey;
  cursor: pointer;

  svg {
    position: relative;
    transform: translate(-200%, 0);
    width: 10px;
    height: 6px;
    transition: all 0.3s ease;
  }
}

.desktop-sidebar__block-title--accordion-header {
  margin: 0 0 6px;
}

/* ----- mobile sidebar -----*/
.mobile-sidebar {
  position: fixed;
  z-index: 21;
  display: none;
  padding: 18px 24px 0;
  max-width: 100vw;
  height: 100%;
  background: #05060f;
  box-sizing: border-box;

  .user-profile {
    margin: 0 auto 28px;
    width: fit-content;
  }
}

.mobile-sidebar--active {
  display: block;
  animation: fadeIn ease-in-out forwards;
}
