/* ----- colors -----*/
$blue: #2b2e5d;
$blue--light: #606cd5;
$blue--medium: #272738;
$blue--dark: #121222;
$white: #fff;
$grey:#cacaca;
$grey--dark:#60647f;
$black: #1d1d29;
$black--light: #3e323f;
$black--dark: #05060f;
$green: #51c2a0;
$green--dark: #36997b;
$yellow: #c3ad5c;
$pink: #af5a64;
$pink--dark: #bd4d4d;
